body{
	background-color: #eee;
}

.login-div {
	margin-left:auto;
  margin-right:auto;
	margin-top:50px;
  width:480px;
  height: 580px;
  padding: 10px 35px 0px 35px;
  background: #fff;
}

.login-div1 {
	margin-left:auto;
  margin-right:auto;
	margin-top:30px;
	margin-bottom:30px;
  width:480px;
  height: 80px;
   padding: 10px 35px 15px 35px;
  background: #fff;
}

.login-div3 {
	margin-left:auto;
  margin-right:auto;
	margin-bottom:50px;
  width:480px;
  height: 200px;
   padding: 10px 35px 15px 35px;
  background: #eee;
}

.logo {
  width:100px;
  height: 100px;
}

.title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}
.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}

.fields {
  width: 100%;
  padding: 50px 5px 5px 5px;
}
.fields input {
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color: #555;
  padding:20px 10px 20px 5px;
}
.username{
  margin-bottom: 30px;
  background-color: #f0f0f0;
  outline-style: solid;
  outline-color: black;
  outline-width: 0.5px;
}

.password{
  background-color: #f0f0f0;
  outline-style: solid;
  outline-color: black;
  outline-width: 0.5px;
}

.fields svg {
  height: 22px;
  margin:0 10px -3px 25px;
}

.signin-button {
  cursor: pointer;
  width:100%;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color:#fff;
  text-align: center;
  background:  #00acee;
  transition: 0.5s;
  margin:30px 0px 20px 5px;

border-radius: 5px;
outline: none;
  border:none;  
}

.signin-button:hover {
  background:#6dd1f7;
}
.signin-button:active {
  background:#1da88a;
}
.link {
  text-align: center;
  font-size:24px;
}
.link a {
  text-decoration: none;
  color:#aaa;
}

a:hover {
  color:#00acee;
}

.img{
	width:300px;
	height:150px;
	margin-left: 100px;	
}

.img1{
	float:left;
	width:220px;
	height:92px;	
}

.img2{
	float:right;
	width:220px;
	height:95px;	
}
.iconfy{
	width:100px;
	height:100px;
}

i{
	margin-top:0px;
	padding-right:10px;
	font-size:30px;
}


h3 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h3 span { 
    background:#fff; 
    padding:0 10px; 
}